<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>354300094144-of6ukn34add0nk89jnuqd3nlti72b2mm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.354300094144-of6ukn34add0nk89jnuqd3nlti72b2mm</string>
	<key>API_KEY</key>
	<string>AIzaSyDl3Buzrx7j6gRw8cJeRuIr3_6l3CX766c</string>
	<key>GCM_SENDER_ID</key>
	<string>354300094144</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Apple.MapandFirebaseApp</string>
	<key>PROJECT_ID</key>
	<string>mapandfirebaseapp-a36a0</string>
	<key>STORAGE_BUCKET</key>
	<string>mapandfirebaseapp-a36a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:354300094144:ios:af4929b6e4b7f538</string>
	<key>DATABASE_URL</key>
	<string>https://mapandfirebaseapp-a36a0.firebaseio.com</string>
</dict>
</plist>